build/
target/
obj/
dep/
test/bin
test/obj
*.o
*~
\#*
*.patch
CppCheckResults.xml
*.mk
*.layout
*.layout.orig
*.depend
*.pyc
clang-tidy-commands.log
.cache

# Vim temporary files
*.swp

# Emacs gtags
GPATH
GRTAGS
GTAGS

# Temporary files
tmp/

# Android build outputs (build/ dirs are covered by the rule at the top)
android/.gradle/
android/app/.cxx/
android/local.properties
